header {
  background-color: rgb(24, 0, 183);
  color: white;
  height: 5rem;
  display: flex;
  justify-content: center;
}

.container-list {
  width: 40%;
  margin: auto;
  padding: 0.5rem;
}

.content {
  display: flex;
  padding-bottom: 0.4rem;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

th {
  background-color: #898989;
  color: black;
  padding: 12px;
  text-align: left;
  font-size: 15px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #e2e2e2;
  vertical-align: middle;
}

tr:nth-child(even) {
  background: #fafafa;
}

tr:hover {
  background: #f1f1f1;
}

.col-acoes {
  text-align: right;
  width: 120px;
}

table {
  overflow-x: auto;
  display: block;
}

.adicionar {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1rem;
  transition: 0.2s;
}

.adicionar:hover {
  background-color: rgb(0, 0, 220);
  transform: scale(1.03);
}

.recarregar {
  background-color: blue;
  margin-left: 2rem;
  margin-right: 15rem;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: transform 0.3s;
  transform: scale(1);
}

.recarregar:hover,
.regarregar.focus {
  background-color: rgb(0, 0, 220);
  transform: scale(1.03);
  box-shadow: 0 0 5px 2px #898989;
}

.editar {
  background-color: rgb(141, 141, 141);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: transform 0.4s;
  transform: scale(1);
}

.editar:hover,
.editar:focus {
  background-color: rgb(100, 100, 100);
  transform: scale(1.1);
}

.excluir {
  background-color: red;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: transform 0.4s;
  transform: scale(1);
}

.excluir:hover,
.excluir:focus {
  background-color: rgb(220, 1, 1);
  transform: scale(1.1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: small;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;

  background-color: rgb(24, 0, 183);
  color: white;

  z-index: 1000;
}