<section class="container-form">
  <div class="form-card">
    <h2 class="title">Nova tarefa</h2>

    <form (ngSubmit)="salvar()" class="form">
      <div class="content">
        <label>Título</label>
        <input class="text" [(ngModel)]="titulo" name="titulo" required />
      </div>

      <div class="content">
        <label>Descrição</label>
        <input class="text" [(ngModel)]="descricao" name="descricao" />
      </div>

      <div class="content">
        <label>Prazo</label>
        <input
          class="text"
          type="date"
          [(ngModel)]="prazo"
          name="prazo"
          required
        />
      </div>

      <div class="content-btn">
        <button class="salvar" type="submit" [disabled]="salvando">
          {{ editandoId ? "Salvar alterações" : "Criar tarefa" }}
        </button>
      </div>
    </form>

    @if (erro) {
    <p class="erro">{{ erro }}</p>
    }
  </div>
</section>
